{% extends 'main.html' %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: auto;
        margin: 0 auto;
        padding: 20px;
    }

    h1, h2 {
        color: #333;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
    
    .message {
        background-color:#007BFF;
	    color: #fff;
	    font-size: 40px;
	    font-family: 'Montserrat', sans-serif;
	    border-radius: 0px 0px 5px 5px !important;
	    left: 40px;
	    top: 0px;
	    max-height: 100px;
    }
</style>

<div class="container" id="home">
    <h1 class="my-5">Welcome to Our Library</h1>
    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-md-6">
            <h2>Book</h2>
            <form  method="POST" action="{% url 'book_list' %}">
                {% csrf_token %}

                <button type="submit" class="btn btn-primary">List of All Books</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Author</h2>
            <form  method="POST" action="{% url 'author_list' %}">
                {% csrf_token %}

                <button type="submit" class="btn btn-primary">List of All Authors</button>
            </form>
        </div>
    </div>
    {% else%}
    <u><h3>Not logged in</h3></u>
    {% endif %}
</div>
<hr>
<div class="container" id="About">
    <h1><u>About</u></h1>
    <div class="message">Librarian Message</div>

    <h4>Chief-Librarian Message </h4>

    <p>&nbsp;</p>
    <p style="text-align: justify; line-height: 20px; font-size: 15px;">Welcome to the portal of Libraries located in
        different campuses of the IUB, our aim of the Library is to provide the best information and reference services
        for the users in line with ever changing trends in information and communication technology and the current
        needs of the university.</p>
    <p style="text-align: justify; line-height: 20px; font-size: 15px;">The library supports the academic programmes of
        our university through collections and services, which enable the students and the faculty to access, update
        their knowledge and information resources. This support empowers our users to develop the information and
        technological competencies necessary to achieve their educational, research and professional goals. This enables
        them to succeed in the workforce and applies lifelong learning skills.</p>
    <p style="text-align: justify; line-height: 20px; font-size: 15px;">Here at the IUB Libraries you will find
        wonderful spaces where you can access a wide range of resources to support your teaching, learning, and research
        activities. The key to our success is the dedicated and knowledgeable staff in the Library. I am honoured to
        work with all members of the IUB team and our community of learners. I look forward for your visit to the
        library and welcome your questions, comments, and suggestions.</p>
    <p style="text-align: justify; line-height: 20px; font-size: 15px;"><strong>Dr. Khalid Mahmood
            Sanghera<br></strong>Chief-Librarian</p>

</div>


{% endblock %}