<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
  <form method='POST' action="">
    {% csrf_token %}

    <h1>Login</h1>
    {{ form.non_field_errors }}
    <input type="text" name="username" placeholder="Username">
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>
    <button type="submit">Login</button>

    <p><b>Don't have an account? Register here!</b></p>
    <a href="{% url 'register' %}"><p class="login">Register</p></a>
  </form>
  
</body>
</html>